.skillsCard {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skillsCard:hover {
  filter: drop-shadow(3px 3px 2px black);
}

.skillIcon {
  width: 100px;
  filter: drop-shadow(3px 3px 2px black);
}

.skillText {
  white-space: nowrap;
}
