* {
  margin: 0;
  padding: 0;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
} */
a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

.JavascriptText1 {
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 10s infinite;
  position: relative;
}

.JavascriptText1 a {
  font-size: 45px;
}

.JavascriptText2 {
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 12s infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

.javascriptText {
  display: flex;
  align-items: flex-start;
  margin: 50px;
}

.headshot {
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px;
  padding: 0%;
  margin: 10px;
  width: 450px;
  min-width: auto;
}

.skillsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 380px;
  flex-wrap: wrap;
}

.bioText {
  width: 350px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.bio {
  display: flex;
  justify-content: center;
}

.bodyC {
  padding: 0%;
}
