.navTextBrand {
  color: aliceblue;
}
.navText {
  color: aliceblue;
}

.navText:hover {
  color: aqua;
}

.brand {
  margin-right: 0%;
}

.navText {
  text-decoration: underline;
}

.navbartop {
  display: flex;
  justify-content: space-around;
}

.navIcons {
  width: 25px;
}

.topNav {
  box-shadow: 5px 10px 10px grey;
}
