.navTextBrand {
  color: aliceblue;
}
.navText {
  color: aliceblue;
}

.navText:hover {
  color: aqua;
}

.brand {
  padding: 15px 0px 0px 40px;
}

.links {
  margin: 0px 0px 0px 250px;
  display: flex;
  gap: 100px;
}

.navText {
  text-decoration: underline;
}
