.navTextBrand {
  color: aliceblue;
}
.navText {
  color: aliceblue;
}

.navText:hover {
  color: aqua;
}

.brand {
  padding: 15px 0px 0px 40px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.navText {
  text-decoration: underline;
}

.navbartop {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding: 20px;
}

.navIcons {
  width: 25px;
}
