.bottomNav {
  border-top: 2px solid rgba(128, 128, 128, 0.565);
  border-radius: 2px;
}

.footer {
  width: 100%;
  /* gap: 15px; */
}

.footborder {
  padding-top: 10px;
  text-align: center;
}

.divider {
  height: 100%;
  border: solid 1px black;
  width: 1px;
}
