.thumbnails {
  object-fit: contain;
  width: 1000px;
}

.thumbnailText {
  font-size: 18px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.contain {
  background: rgba(185, 176, 176, 0.291);
  border-radius: 10px;
  display: flex;
}

.project_name {
  font-size: 36px;
  color: aliceblue;
  text-align: center;
}

.githublink {
  text-decoration: underline;
}

.techStackContainer {
  background: rgba(185, 176, 176, 0.291);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
