.thumbnails {
  object-fit: contain;
  height: 500px;
}

.thumbnailText {
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.contain {
  background: rgba(185, 176, 176, 0.291);
  display: flex;
  border-radius: 10px;
}

.project_name {
  font-size: 36px;
  color: aliceblue;
  text-align: center;
}
