.thumbnails {
  object-fit: contain;
  height: 300px;
}

.thumbnailText {
  font-size: 18px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.contain {
  background: rgba(185, 176, 176, 0.291);
  border-radius: 10px;
  width: 300px;
}

.project_name {
  font-size: 36px;
  color: aliceblue;
  text-align: center;
}
