body {
  background-color: #4638392f;
}

/* Text Animations */

/*Text1 Animation*/
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.text2 {
  display: inline-block;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  list-style-type: circle;
}
.ullist {
  padding-bottom: 20px;
}
.about-me-left {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100px;
}

.about-me-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*About Me Text Animation*/
.text2 {
  font-family: "Courier New", Courier, monospace;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

/* span {
  display: flex;
  opacity: 0;
  filter: blur(4px);
} */

/* span:nth-child(1) {
  animation: fade-in 1.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 1.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 1.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 1.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 1.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 1.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 1.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 1.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
} */

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/*Portrait Img*/
.portrait {
  width: 400px;
  height: 525px;
  right: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 5px;
  margin: 25px;
}

/*Projects*/
.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  flex-direction: column;
  width: 100%;
}

.card-container {
  display: block;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 100px;
}

.horizontalleft {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.horizontalright {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 50px 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
/*Fade left*/
.active.fade-left {
  animation: fade-left 1s ease-in;
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*Fade right*/
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/*Grow Animation*/
.grow {
  transition: 1s ease;
}

.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

body {
  padding: 100px 5px 100px 5px;
}

.linkIcon {
  width: 40px;
  filter: drop-shadow(1px 1px 2px aliceblue);
}

.linkIcon:hover {
  filter: drop-shadow(1px 1px 2px rgb(0, 129, 243));
}

.iconText {
  font-size: 20px;
  display: flex;
  align-items: center;
}
