.App {
  /* background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue; */
  background-color: black;
}

body {
  background-color: black;
}
